.transition,
ul li i:before,
ul li i:after,
p {
  transition: all 0.5s ease-in-out;
}

.flipIn,
div {
  animation: flipdown 10s ease both;
}

h1,
h2 {
  color: #00725e;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
  direction: rtl;
}

.d:nth-of-type() {
  animation-delay: 0.5s;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  left: 20px;
  width: 20px;
}
ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #00725e;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
