body {
  direction: ltr;
  background-color: #111111;
  
}


.input_c {
  border: solid 2px #0F4870;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 18px;
  margin-top: 1px;
  width: 100%;
  text-align: end;
  font-size: large;
  background-color: #ffffff;
}

.btn {
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;
  --tw-gradient-from: #7db2db var(--tw-gradient-from-position);
  --tw-gradient-to: #7b8fc0 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

ol {
  list-style-type: decimal;
  direction: rtl;
}

.mid {
  background-color: gray;
  direction: rtl;
}
.middd {
  background-color: #00725e;
  width: 90%;
  direction: ltr;
}
ul a li.active {
  color: white !important;
  background-color: #325dde;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  direction: rtl;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

th {
  background-color: #00725e;
  font-weight: bold;
}

tr:hover {
  background-color: #00725e;
  color: white;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: white;
  transition: right 0.3s ease;
  border-radius: 50px;
  margin-top: 4px;
  z-index: 10;
 
}

.sidebar ul {
  list-style-type: none;
 
  padding: 0;
}

.sidebar li {
  padding: 24px;
  border-bottom: 1px solid #00725e;
  

}

.sidebar li:hover {
  background-color: #ebebeb;
}

.sidebar a {
  text-decoration: none;
  color: #00725e;
  

  

}

.sidebar a:hover {
  color: #000;
}
.toggle-button {
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.field {
  width: 200px;
  overflow: hidden;
}
.expandable-text {
  max-height: 30px; /* Set maximum height to show partial text */

  overflow: hidden;
  position: relative;
}

.expandable-text::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: white; /* Match table background color */
  padding: 0 5px;
  cursor: pointer;
}

.expanded {
  max-height: none; /* Remove height restriction to show full text */
}
/* Responsive styles */
@media screen and (max-width: 600px) {
  .table {
    display: block;
    overflow-x: auto;
  }
}
/* Delete icon */
.delete-icon {
  position: relative;
  
  cursor: pointer;
}

.delete-icon::before,
.delete-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 5px;
  background-color: red;
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;;
}

.popup-content {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.contain {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  
}

h1 {
  text-align: center;
  margin-top: 0;
 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0F4870;
}

.form-group input[type="submit"] {
  background-color: #ffffff;
  color: white;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #4CAF50;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color:  #0F4870;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltip-text-input {
  visibility: hidden;
  width: 300px;
  background-color:  #70CCDB;
  color: black;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 81%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltip-text-input {
  visibility: visible;
  opacity: 1;
}
input[type="time"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkbox-container {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-container input[type="checkbox"]:checked + .checkbox-custom {
  background-color: #ccc;
  border-color: #ccc;
}



.alert-box {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}